<ion-row class="first">
  <ion-col class="basicInfo">
    <ion-label class="title">
      {{ workout.title }}
    </ion-label>
    <div class="subtitle">
      <ion-text class="duration">
        {{ getDurationString(workout.totalDuration) }}
      </ion-text>
      <ion-chip class="bodyPart">
        {{
          workout.bodyPart.charAt(0).toUpperCase() + workout.bodyPart.slice(1)
        }}
      </ion-chip>
    </div>
  </ion-col>
</ion-row>
<img class="line" src="/assets/imgs/line.png" />
<ion-row class="second">
  <ion-col>
    <ion-text class="equipment">
      @for (eq of workout.equipment_used; track $index; let isLast=$last) {
      {{ eq }} @if(!isLast){ • } }
    </ion-text>
  </ion-col>
</ion-row>

<ion-row class="third">
  <div class="savedCount">
    @if(isSaved$ | async){
    <ion-icon name="heart"></ion-icon>
    } @else {
    <ion-icon name="heart-outline"></ion-icon>
    }
    <ion-text class="count">
      {{ savedCount$ | async }}
    </ion-text>
  </div>
  <div class="madeBy">
    <ion-text>
      made by <strong>{{ authorsName }}</strong>
    </ion-text>
    <ion-avatar class="profileAvatar">
      <img loading="lazy" [src]="authorsProfileURL" />
    </ion-avatar>
  </div>
</ion-row>
