ion-content {
  height: 100vh; /* Set height to 100% of viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  img.blobUp {
    position: fixed;
    top: -200px;
    right: -120px;
    z-index: -1; /* Put it behind other elements */
    transform: scale(1.2);
  }
  img.blobDown {
    position: fixed; /* Position it fixed to the viewport */
    bottom: -180px; /* Position it at the bottom of the viewport */
    left: -90px;

    z-index: -1; /* Put it behind other elements */
    transform: scale(1.2);
  }
  --background: var(--ion-color-light);
  ion-button.login {
    height: 50px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  ion-card {
    position: absolute; /* Position absolutely */
    top: 50%; /* Move to the vertical center */
    transform: translateY(-50%);
    margin-top: -0.2rem;
    padding-bottom: 1rem;
    width: 90%;
    box-shadow: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    div.logo {
      display: grid;
      align-items: center;
      justify-content: center;
      img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 80px;
      }
      h3 {
        color: var(--ion-color-medium);
        text-align: center;
        margin-bottom: 1rem;
      }
      font-size: 1.1rem;
      text-align: center;
    }
    ion-item {
      --border-radius: 20px;
    }
    ion-input,
    .fwd {
      font-size: 0.9rem;
    }
    .submit {
      margin-top: 1.5rem;
      ion-button {
        --background: linear-gradient(to right, #ca92eb, #4255c0);
      }
      ion-text {
        font-size: 1.2rem;
      }
    }

    div.googleOr {
      margin-bottom: 1rem;
      display: grid;
      align-items: center;
      justify-content: center;
      color: var(--ion-color-medium);
      ion-text {
        font-size: medium;
      }
    }
    .google {
      ion-button {
        --background: #fff;
        ion-text {
          background: -webkit-linear-gradient(30deg, #9b67b9, #3244ad);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          height: max-content;
        }
        img {
          height: 35px;
          margin-right: 0.3rem;
        }
      }
    }

    div.register {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.5rem;
      margin-bottom: 0.8rem;
      a {
        margin-left: 0.3rem;
        font-size: 0.9rem;
      }
    }
  }
}
