<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorite workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button>
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list class="exercises">
    @for (workout of savedWorkouts$ | async; track $index; let isLast=$last) {
    <ion-item class="my-workout" lines="none">
      <app-workout [myWorkout]="true" [workout]="workout"></app-workout>
    </ion-item>

    } @empty { @if(!isLoading){
    <ion-item lines="none">
      <ion-label class="ion-text-center"> No exercises found. </ion-label>
    </ion-item>
    } }
  </ion-list>
</ion-content>
