ion-content {
  ion-row.srch {
    margin-left: 0.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-searchbar {
      --background: #fff;
      --border-radius: 10px;
    }
    ion-button {
      height: 3rem;
      --border-radius: 10px;
      ion-icon {
        transform: scale(1.2);
      }
    }
  }
}
