ion-content {
  --background: #f2f2ff;
  img.blob {
    position: absolute;
    top: -40px;
    left: -30px;
    z-index: -1; /* Put it behind other elements */
    transform: scale(1.8);
  }
  ion-header {
    background: transparent;
    display: flex;
    justify-content: space-between; /* Align items horizontally, with space between them */
    align-items: center; /* Center items vertically */
    padding: 0 1.8rem; /* Add padding to the header container if needed */
    margin-bottom: 0.2rem; /* Add margin to the bottom of the header */
    box-shadow: none;

    div.title {
      display: grid;
      margin-top: 1.8rem;
      ion-text {
        color: #ffff;
        font-size: 1.8rem;
        font-weight: 800;
      }
    }
  }

  ion-list {
    background: transparent;
    height: 70%;
    overflow: scroll;
    ion-item.workout,
    ion-item.not-found {
      &::part(native) {
        background: rgba(255, 255, 255, 0.63);
      }
      margin-left: 1.2rem;
      margin-right: 1.4rem;
      margin-bottom: 1.5rem;
      border-radius: 10px;
      box-shadow: 4px 3px 32px 0px rgba(246, 246, 253, 0.2);
    }
  }

  ion-row.srch {
    margin-left: 0.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-searchbar {
      --background: #fff;
      --border-radius: 10px;
    }
    ion-button {
      height: 3rem;
      --border-radius: 10px;
      ion-icon {
        transform: scale(1.2);
      }
    }
  }
}
