<ion-content [fullscreen]="true">
  <img class="blob" [src]="'assets/imgs/blob/favorites.png'" />
  <ion-header>
    <div class="title">
      <ion-text> Favorite </ion-text>
      <ion-text> Workouts </ion-text>
    </div>
  </ion-header>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onPresentSearchWorkoutFiltersModal()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list class="exercises">
    @for (workout of filteredWorkouts; track $index; let isLast=$last) {
    <ion-item class="workout" lines="none">
      <app-workout
        [routerLink]="['/', 'tabs', 'favorites','workout', workout.id]"
        [myWorkout]="false"
        [workout]="workout"
      ></app-workout>
    </ion-item>

    } @empty { @if(!isLoading){
    <ion-item lines="none" class="not-found">
      <ion-label class="ion-text-center">
        No favorite workouts found.
      </ion-label>
    </ion-item>
    } } @if(filteredWorkouts && filteredWorkouts.length> 0 &&
    loadMoreWorkoutsButtonVisibile){
    <ion-item class="loadMoreExercisesBtn" lines="none">
      <ion-button shape="round" (click)="loadMore()"
        >Load more workouts</ion-button
      >
    </ion-item>
    }
  </ion-list>
</ion-content>
