<div class="description">
  <ion-text>
    {{ workout.description }}

    Warming up before any workout is really important. Not only will it help you
    avoid injury by getting your body ready for exercise, but it will also help
    you get the most out of your workout. For these workouts, you don’t want to
    be doing anything too strenuous for your warm up. Just start with some
    stretches. Make sure to include those muscle groups you’ll be focusing on
    during your workout. Then just do some gentle cardio to get your heart rate
    up a little bit and you’re ready to go!
  </ion-text>
</div>
