ion-content {
  --background: url("/assets/imgs/background/search.png") no-repeat center
    center / cover;

  ion-header {
    box-shadow: none;
    position: sticky;
    height: fit-content;
    margin-bottom: 0.8rem;
    ion-toolbar {
      --background: transparent;
      ion-title {
        color: var(--ion-color-dark);
        margin-top: 1.3rem;
        margin-right: 0.3vh;
        font-size: 1.8rem;
        font-weight: 800;
      }
    }
  }

  ion-row.srch {
    position: sticky;
    margin-left: 0.2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-searchbar {
      --background: #fff;
      --border-radius: 10px;
    }
    ion-button {
      height: 3rem;
      --border-radius: 10px;
      ion-icon {
        transform: scale(1.2);
      }
    }
  }

  ion-list {
    background: transparent;
    height: 80%;
    overflow: scroll;
    div.recent-workout {
      padding-left: 8px;
      padding-right: 2px;
      padding-top: 6px;
      background: rgba(62, 56, 128, 0.918);
      color: #fff;
      margin-left: 1.2rem;
      margin-right: 1.4rem;
      margin-bottom: 1rem;
      border-radius: 15px;
    }
  }
}
