<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" mode="md">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          mode="md"
          defaultHref="/tabs/explore"
        ></ion-back-button>
      </ion-buttons>

      <ion-title slot="end">All Workouts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onPresentSearchExerciceFiltersModal()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list>
    @defer(when !isLoading){ @for (workout of filteredWorkouts; track $index) {
    <div
      class="recent-workout"
      lines="none"
      [routerLink]="['/', 'tabs', 'search','workout', workout.id]"
    >
      <app-explore-workout [workout]="workout"></app-explore-workout>
    </div>
    }@empty { @if(!isLoading){
    <ion-item class="not-found" lines="none">
      <ion-label class="ion-text-center"> No workouts found. </ion-label>
    </ion-item>
    } } @if(filteredWorkouts && filteredWorkouts.length> 0 &&
    loadMoreWorkoutsButtonVisibile){
    <ion-item class="loadMoreExercisesBtn" lines="none">
      <ion-button shape="round" (click)="loadMore()"
        >Load more workouts</ion-button
      >
    </ion-item>
    } } @placeholder { @for (item of dummyArray; track $index) {
    <ion-item class="recent-workout" lines="none">
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    } }
  </ion-list>
</ion-content>
