<div class="one-part">
  <div class="iconLabel">
    <ion-icon name="time-outline"></ion-icon>
    <ion-text class="labelText">Duration</ion-text>
  </div>
  <div class="textValue">
    <ion-text class="value">{{
      getDurationString(workout.totalDuration)
    }}</ion-text>
  </div>
</div>

<div class="one-part">
  <div class="iconLabel">
    <ion-icon name="body-outline"></ion-icon>
    <ion-text class="labelText">Body part</ion-text>
  </div>
  <div class="textValue">
    <ion-text class="value">{{
      workout.bodyPart.charAt(0).toUpperCase() + workout.bodyPart.slice(1)
    }}</ion-text>
  </div>
</div>

<div class="one-part">
  <div class="iconLabel">
    <ion-icon name="barbell"></ion-icon>
    <ion-text class="labelText">Equipment used</ion-text>
  </div>
  <div class="textValue">
    @for (eq of workout.equipment_used; track $index) {
    <div class="value">• {{ eq.charAt(0).toUpperCase() + eq.slice(1) }}</div>
    }
  </div>
</div>
