<ion-header mode="md">
  <ion-toolbar>
    <ion-title slot="start">
      Add an <br />
      Excercise
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        [(ngModel)]="exerciseFilters.exerciseName"
        class="srchBar"
        placeholder="Search for exercise"
        (ionInput)="onSearch()"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onPresentSearchExerciceFiltersModal()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  @defer (when !isLoading) {
  <div class="exercisesDiv">
    <ion-list class="exercises">
      @for (exercise of exercises; track exercise.id; let isLast=$last) {
      <ion-item lines="none">
        <img loading="lazy" [src]="exercise.gif" />

        <ion-label class="ion-text-wrap">
          <h2>
            {{ exercise.name }}
          </h2>
          @for (pm of exercise.primaryMuscles; track $index; let isLast =
          $last;) {
          <p>{{ pm }} {{ !isLast ? "|" : "" }}</p>
          }
        </ion-label>

        <ion-checkbox
          mode="ios"
          aria-label=""
          (ionChange)="onExerciseCheckboxClicked(exercise)"
          slot="end"
          class="exerciseCheck"
          [id]="exercise.id"
          [disabled]="
            exercise.id != selectedExercise?.id && selectedExercise != null
          "
        >
        </ion-checkbox>
      </ion-item>

      } @empty { @if(!isLoading){
      <ion-item lines="none">
        <ion-label class="ion-text-center"> No exercises found. </ion-label>
      </ion-item>
      } }
    </ion-list>

    @if(loadMoreExercisesButtonVisibile){
    <ion-item class="loadMoreExercisesBtn" lines="none">
      <ion-button shape="round" (click)="loadMore()"
        >Load more exercises</ion-button
      >
    </ion-item>
    }
  </div>

  }@placeholder {
  <div class="exercisesDiv">
    <ion-list class="exercises">
      @for (item of dummyArray; track item) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
      </ion-item>
      }
    </ion-list>
  </div>

  } @loading {
  <ion-item lines="none">
    <ion-label class="ion-text-center"> Loading. </ion-label>
  </ion-item>
  }
  <form [formGroup]="formRepsDuration">
    <ion-list class="repsList" lines="none" mode="ios">
      <ion-item class="checkbox">
        <ion-checkbox
          (ionChange)="repsCheck = !repsCheck"
          [checked]="repsCheck"
          id="repsCheck"
          labelPlacement="end"
          justify="start"
          >Reps:</ion-checkbox
        >
      </ion-item>
      <ion-item class="input">
        <ion-input
          formControlName="reps"
          [attr.disabled]="!repsCheck"
          id="repsInput"
          type="number"
          placeholder="number"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="durList" lines="none" mode="ios">
      <ion-item class="checkbox">
        <ion-checkbox
          (ionChange)="repsCheck = !repsCheck"
          [checked]="!repsCheck"
          size="medium"
          id="durationCheck"
          labelPlacement="end"
          justify="start"
          >Duration:</ion-checkbox
        >
      </ion-item>
      <ion-item class="input">
        <ion-input
          [attr.disabled]="repsCheck"
          type="number"
          label="min"
          labelPlacement="floating"
          id="minInput"
          formControlName="durationMin"
        ></ion-input>
        <ion-input
          [attr.disabled]="repsCheck"
          type="number"
          label="sec"
          labelPlacement="floating"
          id="secInput"
          formControlName="durationSec"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button
    class="addToSet"
    expand="block"
    shape="round"
    size="medium"
    (click)="onAddExercise()"
  >
    <ion-text> <strong>Add to set</strong> </ion-text>
  </ion-button>
</ion-content>
