<ion-content [fullscreen]="false" class="ion-page">
  <img class="blob" [src]="'assets/imgs/blob/my-workouts.png'" />
  <ion-header>
    <div class="title">
      <ion-text> My </ion-text>
      <ion-text> Workouts </ion-text>
    </div>
  </ion-header>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button (click)="onPresentSearchWorkoutFiltersModal()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list class="exercises">
    @for (workout of myFilteredWorkouts; track $index; let isLast=$last) {
    <ion-item class="my-workout" lines="none">
      <app-workout
        [routerLink]="['/', 'tabs', 'my-workouts','workout', workout.id]"
        [myWorkout]="true"
        [workout]="workout"
      ></app-workout>
    </ion-item>

    } @empty { @if(!isLoading){
    <ion-item lines="none">
      <ion-label class="ion-text-center"> No workouts found. </ion-label>
    </ion-item>
    } } @if(myFilteredWorkouts && myFilteredWorkouts.length> 0 &&
    loadMoreWorkoutsButtonVisibile){
    <ion-item class="loadMoreExercisesBtn" lines="none">
      <ion-button shape="round" (click)="loadMore()"
        >Load more workouts</ion-button
      >
    </ion-item>
    }
  </ion-list>

  <ion-button shape="circle" (click)="openAddWorkoutModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-content>
