ion-content {
  width: 100%;
  height: 100%;
  --background: url("/assets/imgs/my-workouts-background.png") no-repeat center
    center / cover;
}

ion-button[shape="circle"] {
  --border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  ion-icon {
    padding: 0;

    font-size: 50px !important;
  }
}

div.title {
  display: grid;
  margin-top: 2.5rem;
  padding-left: 10%;
  ion-text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  ion-content {
    --background: url("/assets/imgs/my-workouts-background-media.png") no-repeat
      center center / cover;
  }
}
