<ion-content [fullscreen]="true" class="ion-page">
  <ion-header>
    <div class="title">
      <ion-text> My </ion-text>
      <ion-text> Workouts </ion-text>
    </div>
    <ion-button shape="circle" id="addWorkoutModal">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-header>

  <ion-modal
    #addWorkoutModal
    trigger="addWorkoutModal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <add-workout-modal
        (exit)="addWorkoutModal.dismiss()"
        (enter)="isAddSetModalOpen = true"
      ></add-workout-modal>
    </ng-template>
  </ion-modal>

  <ion-modal
    #addSetModal
    [isOpen]="isAddSetModalOpen"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <add-set-modal
        (exit)="isAddSetModalOpen = false"
        (enter)="isAddExerciseModalOpen = true"
      ></add-set-modal>
    </ng-template>
  </ion-modal>

  <ion-modal
    class="addExerciseModal"
    #addExerciseModal
    [isOpen]="isAddExerciseModalOpen"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <add-exercise-modal
        (exit)="isAddExerciseModalOpen = false"
        [exercisesService]="exercisesService"
      ></add-exercise-modal>
    </ng-template>
  </ion-modal>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button>
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
