ion-content {
  width: 100%;
  height: 100%;
  --background: url("/assets/imgs/background/my-workouts.png") no-repeat center
    center / cover;
  ion-header {
    display: flex;
    justify-content: space-between; /* Align items horizontally, with space between them */
    align-items: center; /* Center items vertically */
    padding: 0 1.8rem; /* Add padding to the header container if needed */
    margin-bottom: 0.5rem; /* Add margin to the bottom of the header */
    box-shadow: none;
  }
  overflow-x: hidden; /* Ensure horizontal overflow is hidden */
}

@media (min-width: 540px) {
  ion-content {
    --background: url("/assets/imgs/background/my-workouts-media.png") no-repeat
      center center / cover;
  }
}

ion-button[shape="circle"] {
  --border-radius: 50%;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  --background: var(--ion-color-pink);
  opacity: 0.7;
  ion-icon {
    transform: scale(2.2);
  }
}

div.title {
  display: grid;
  margin-top: 2rem;
  //padding-left: 10%;
  ion-text {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 800;
  }
}

ion-row.srch {
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ion-searchbar {
    --background: #fff;
    --border-radius: 10px;
  }
  ion-button {
    height: 3rem;
    --border-radius: 10px;
    ion-icon {
      transform: scale(1.2);
    }
  }
}
