<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" mode="md">
    <ion-toolbar mode="md">
      <ion-buttons slot="start" mode="md">
        <ion-back-button
          mode="md"
          [defaultHref]="previousPage"
        ></ion-back-button>
      </ion-buttons>

      <ion-title slot="end">Workout details</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(workout){
  <!-- Workout title -->

  <ion-title class="workoutTitle" mode="md"> {{workout.title}} </ion-title>
  <!-- Made by -->
  <div class="publicInfo">
    @if(detailsFor!='my-workouts'){
    <div class="savedCount">
      <div class="heart">
        <ion-chip (click)="onHeartClicked()" class="heart-chip">
          @if(isSaved$ | async){
          <ion-icon name="heart"></ion-icon>
          } @else {
          <ion-icon name="heart-outline"></ion-icon>
          }
        </ion-chip>
      </div>
      <div class="count">{{savedCount$ | async}}</div>
    </div>
    <div class="madeBy">
      <ion-text> made by <strong>{{ authorsName }}</strong> </ion-text>
      <ion-avatar class="profileAvatar">
        <img loading="lazy" [src]="authorsProfileURL" />
      </ion-avatar>
    </div>
    } @else if(workout.isPublic){
    <div class="savedCount">
      <div class="heart">
        <ion-chip class="heart-chip">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-chip>
      </div>
      <div class="count">{{workout.savedCount}}</div>
    </div>
    }
  </div>
  <!-- Line -->
  <img class="line" src="../../../assets/imgs/line.png" />

  <!-- Choosing a section -->
  <div>
    <ion-segment
      class="info"
      [value]="segment_value"
      (ionChange)="changeSegment($event)"
      mode="ios"
    >
      <ion-segment-button value="basic info">
        <ion-label>Basic info</ion-label>
      </ion-segment-button>
      <ion-segment-button value="description">
        <ion-label>Description</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sets">
        <ion-label>Sets</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Showing a chosen segment -->
  @if (segment_value == 'basic info') {
  <app-basic-info [workout]="workout"></app-basic-info>
  } @else if (segment_value == 'description') {
  <app-description [workout]="workout"></app-description>
  } @else {
  <app-sets [workout]="workout"></app-sets>
  } } @if(detailsFor=='my-workouts'){
  <ion-buttons class="deleteEditBtns">
    <ion-chip
      class="deleteWorkoutBtn"
      (click)="presentDeleteWorkoutAlert(workout)"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-chip>
    <ion-chip class="editWorkoutBtn" (click)="openEditWorkoutModal(workout)">
      <ion-icon name="color-wand-outline"></ion-icon>
    </ion-chip>
  </ion-buttons>
  }
</ion-content>
