<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">cancel</ion-button>
    </ion-buttons>
    <ion-title slot="end"> {{ setNumber | ordinal }} set </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <img class="line" src="/assets/imgs/line.png" />

  <ion-button
    class="addExcercise"
    expand="block"
    shape="round"
    size="medium"
    (click)="onEnterAddExerciseModal()"
  >
    <ion-text> <strong>Add an excercise</strong> </ion-text>
  </ion-button>

  <ion-button
    [disabled]="
      exercisesData.length == 0 || exercisesData[exercisesData.length - 1].break
    "
    class="addBreak"
    expand="block"
    shape="round"
    size="medium"
    (click)="onEnterAddBreakModal()"
  >
    <ion-text> <strong>Add a break</strong> </ion-text>
  </ion-button>

  @if (exercisesData.length>0) {
  <ion-list lines="none" mode="ios" class="exercisesData">
    @for (exerciseOrBreak of exercisesData; track $index) {
    <ion-item
      mode="ios"
      [class]="exerciseOrBreak.break ? 'breakItem' : 'exerciseItem'"
    >
      <ion-row>
        <ion-col size="8">
          <ion-label>{{
            exerciseOrBreak.break ? "Break" : exerciseOrBreak.exercise?.name
          }}</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label class="metrics">
            {{
              exerciseOrBreak.duration
                ? getDurationMinSec(exerciseOrBreak.duration)
                : exerciseOrBreak.reps + " reps"
            }}
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="onDeleteExerciseOrBreak(exerciseOrBreak)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    }
  </ion-list>
  }

  <img class="line" src="/assets/imgs/line.png" />

  <ion-list lines="none" mode="ios" class="repetition">
    <ion-item class="repeting">
      <ion-label> Repeting: </ion-label>
    </ion-item>
    <ion-item class="input">
      {{ !repeting ? "" : "x"
      }}<ion-input
        type="number"
        [(ngModel)]="repeting"
        placeholder="How many times?"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    class="save"
    expand="block"
    shape="round"
    size="medium"
    (click)="onSaveSet()"
  >
    <ion-text> <strong>Save</strong> </ion-text>
  </ion-button>
</ion-content>
