<ion-header mode="md">
  <ion-toolbar>
    <ion-title slot="start"
      >Create New <br />
      Workout
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <img class="line" src="/assets/imgs/line.png" />

  <div class="swipePage">
    <swiper-container
      class="swipePageContainer"
      [modules]="swiperModules"
      #swiperPage
      [pagination]="true"
      [allowTouchMove]="false"
      [noSwiping]="true"
      [noSwipingClass]="'swipeSets'"
    >
      <!-- FIRST page: Adding Title, Body part, Description, Public option -->
      <swiper-slide>
        <!-- Title -->
        <ion-item class="workoutTitleInput">
          <ion-label position="floating">Workout title</ion-label>
          <ion-input [(ngModel)]="title" placeholder="Enter your workout title">
          </ion-input>
        </ion-item>

        <!-- Body part selection -->
        <ion-list lines="none" mode="ios">
          <ion-item class="bodyPart">
            <ion-label> Body part: </ion-label>
          </ion-item>
          <ion-item class="select">
            <ion-select
              [(ngModel)]="bodyPart"
              placeholder="Choose"
              (ionChange)="selectBodyPartChange($event)"
            >
              @for (bodyPart of bodyPartPossilbeValues; track $index) {
              <ion-select-option [value]="bodyPart">{{
                bodyPart.charAt(0).toUpperCase() + bodyPart.slice(1)
              }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-list>

        <!-- Description -->
        <ion-item class="workoutDescriptionInput">
          <ion-label position="floating">Workout description</ion-label>
          <ion-textarea
            #textareaRef
            [(ngModel)]="description"
            name="fieldName"
            ngDefaultControl
            placeholder="Enter your workout description"
          >
          </ion-textarea>
        </ion-item>

        <!-- Make public toggle -->
        <ion-item class="makePublic" lines="none">
          <ion-toggle
            [disabled]="workout ? true : false"
            [checked]="workoutIsPublic"
            (ionChange)="workoutIsPublic = !workoutIsPublic"
            mode="ios"
          >
            @if(workoutIsPublic){
            <ion-label>
              Make this workout <br />
              <div class="inner-content">
                <ion-label class="inner-label"> private </ion-label>
              </div>
            </ion-label>
            } @else {
            <ion-label
              >Make this workout <br />
              <div class="inner-content">
                <ion-label class="inner-label">
                  <strong>public</strong>
                </ion-label>
                <ion-icon name="sparkles-outline"></ion-icon></div
            ></ion-label>
            }
          </ion-toggle>
        </ion-item>
      </swiper-slide>

      <!-- SECOND page: Adding sets and rest between each set -->

      <!-- Add set button -->
      <swiper-slide>
        <ion-button
          class="addSet"
          expand="block"
          shape="round"
          size="medium"
          (click)="onEnterAddSetModal()"
        >
          <ion-text>Add new set</ion-text>
        </ion-button>

        <!-- Nested swiper for SET SLIDES -->
        <div class="swipeSets">
          <swiper-container
            class="swipeSetsContainer"
            [modules]="swiperModules"
            [keyboard]="true"
            [centerSlides]="true"
            [breakpoints]="breakpointsJson"
            [slidesOffsetBefore]="20"
            [slidesOffsetAfter]="50"
            [nested]="true"
          >
            @for (set of workoutSets; track $index; let isLast = $last) {
            <swiper-slide>
              <div class="set">
                <!-- HEADER of the set -->
                <ion-header
                  ><ion-label>{{ $index + 1 | ordinal }} set</ion-label>
                  <ion-chip>
                    <p>repeting • x{{ set.repeting }}</p>
                  </ion-chip>
                </ion-header>

                <!-- SET info -->
                <app-workout-set-slide
                  [workoutSet]="set"
                ></app-workout-set-slide>

                <!-- EDIT and DELETE buttons -->
                <ion-buttons>
                  <ion-chip
                    class="deleteSetBtn"
                    (click)="presentDeleteSetAlert(set)"
                  >
                    <ion-button>
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-chip>
                  <ion-chip class="editSetBtn" (click)="onEditSet(set)">
                    <ion-button>
                      <ion-icon name="color-wand-outline"></ion-icon>
                    </ion-button>
                  </ion-chip>
                </ion-buttons>
              </div>
            </swiper-slide>
            }
          </swiper-container>
        </div>

        <!-- Rest between sets input -->
        <ion-list class="restBetweenSets" lines="none" mode="ios">
          <ion-item class="restBetweenSetsLabel">
            <ion-label> Rest between sets: </ion-label>
          </ion-item>
          <ion-item class="input">
            <ion-input
              (ionChange)="onChangedRestBetweenSets()"
              type="number"
              label="min"
              labelPlacement="floating"
              id="minInput"
              [(ngModel)]="minRestBetweenSets"
            ></ion-input>
            <ion-input
              (ionChange)="onChangedRestBetweenSets()"
              type="number"
              label="sec"
              labelPlacement="floating"
              id="secInput"
              [(ngModel)]="secRestBetweenSets"
            ></ion-input>
          </ion-item>
        </ion-list>

        <img class="line" src="/assets/imgs/line.png" />

        <!-- Total workout duration calculated -->
        @if(workoutSets.length>0){ @if(onlyDurationExercises()){
        <ion-list class="totalDuration" lines="none" mode="ios">
          <ion-item class="durationLabel">
            <ion-label> Total duration: </ion-label>
          </ion-item>
          <ion-item class="durationMinSec">
            <ion-label>
              {{ calculatedDuration() | date : "HH:mm:ss" }}
            </ion-label>
          </ion-item>
        </ion-list>
        } @else {
        <ion-list class="estimatedDuration" lines="none" mode="ios">
          <ion-item class="durationLabel">
            <ion-label> Estimated duration: </ion-label>
          </ion-item>
          <ion-item class="durationMinSec">
            <ion-label>
              {{ calculatedDuration() | date : "HH:mm:ss" }}
            </ion-label>
          </ion-item>
        </ion-list>
        } }

        <!-- Create workout button -->
        <ion-button
          class="createWorkout"
          expand="block"
          shape="round"
          size="medium"
          (click)="presentAlertBeforeSavingTheWorkout()"
        >
          <ion-text>@if(edit){ Update } @else { Create } </ion-text>
        </ion-button>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
