ion-header {
  box-shadow: none;
  position: sticky;
  height: fit-content;

  ion-toolbar {
    --background: transparent;
    ion-title {
      color: var(--ion-color-dark);
      margin-top: 1.3rem;
      margin-right: 0.3vh;
      font-size: 1.8rem;
      font-weight: 800;
    }
  }
}

ion-content {
  --background: transparent;

  //PAGE SWIPER
  div.swipePage {
    swiper-container {
      height: "auto";
      overflow: scroll;
      position: relative;
      --swiper-pagination-bullet-inactive-color: var(--ion-color-medium);
      --swiper-pagination-color: var(--ion-color-dark-font);
    }
  }

  ///////////////////////////////
  ////////// FIRST PAGE /////////

  //Title
  ion-item.workoutTitleInput {
    --background: rgba(255, 255, 255, 0.664);
    border-radius: 10px !important;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

  //Body part select
  ion-list {
    background-color: transparent;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.7rem;
    ion-item.bodyPart {
      width: 40%;
      margin-left: 0.4rem;
      margin-bottom: 0.2rem;
      font-size: 1.2rem;
      --background: transparent !important;
    }
    ion-item.select {
      --background: var(--ion-color-semi-purple);
      border-radius: 10px !important;
      margin-left: 1rem;
      margin-right: 1rem;
      color: white;
      width: fit-content;
      ion-select {
        --background: transparent !important;
      }
    }
  }

  //Description
  ion-item.workoutDescriptionInput {
    --background: rgba(255, 255, 255, 0.664);
    border-radius: 10px !important;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    ion-textarea {
      min-height: 220px;
    }
  }

  //Make public
  ion-item.makePublic {
    --background: transparent !important;
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.6rem;
    display: grid;
  }

  ion-item.warn {
    --background: transparent !important;
    margin-top: -1rem;
    margin-bottom: 2.3rem;
    margin-left: 1rem;
    p {
      font-size: small;
    }
  }

  ////////////////////////////////
  ///////// SECOND PAGE //////////

  //Add set button
  ion-button.addSet {
    margin-top: 0.5rem;
    margin-left: 15%;
    margin-right: 15%;
    --background: var(--ion-color-purple-button-add);
    ion-text {
      text-transform: none;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  //Swiper for SET SLIDES
  div.swipeSets {
    margin-top: 1.6rem;
    swiper-container {
      swiper-slide {
        div.set {
          width: 230px;
          margin-bottom: 1rem;
          box-shadow: none;
          --background: transparent;
          ion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            margin-bottom: 1rem;
            ion-label {
              margin-left: 1.4rem;
            }
            ion-chip {
              height: 2rem;
              //margin-right: 5px;
              font-size: 1rem;
              background-color: rgba(255, 255, 255, 0.664);
              border-radius: 12px !important;
            }
          }
          ion-buttons {
            display: flex;
            justify-content: end;
            margin-top: 0.5rem;

            ion-chip {
              --background: var(--ion-color-white-transparent);
              border: 2px solid rgba(171, 121, 212, 0.116);
              box-shadow: 4px 3px 32px 0px rgba(171, 121, 212, 0.2);
              height: 2.6rem;
              width: 2.6rem;
              border-radius: 15px;
              align-items: center;
              justify-self: center;
              justify-content: center;
              ion-icon {
                color: var(--ion-color-dark);
                margin: auto;
                transform: scale(1.1);
              }
            }

            // ion-chip {
            //   height: 2.4rem;
            //   width: 2.4rem;
            //   border-radius: 10px !important;
            //   align-items: center;
            //   justify-self: center;
            //   justify-content: center;
            //   ion-icon {
            //     transform: scale(1.2);
            //     color: white;
            //   }
            // }
            // ion-chip.editSetBtn {
            //   --background: var(--ion-color-purple-button-add);
            // }
            // ion-chip.deleteSetBtn {
            //   --background: rgba(201, 43, 43, 0.664);
            // }
          }
        }
      }
    }
  }

  //Rest between sets
  ion-list.restBetweenSets {
    background-color: transparent;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.9rem;
    margin-right: 0.3rem;
    ion-item.restBetweenSetsLabel {
      font-size: 1.2rem;
      width: 60%;
      --background: transparent !important;
    }
    ion-item.input {
      width: 30%;
      ion-input {
        font-size: 1rem;
      }
      --background: rgba(255, 255, 255, 0.664);
      border-radius: 10px !important;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  //Total workout duration
  ion-list.totalDuration,
  ion-list.estimatedDuration {
    background-color: transparent;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.9rem;
    margin-right: 0.3rem;
    ion-item.durationLabel {
      font-size: 1.2rem;
      width: 70%;
      --background: transparent !important;
    }
    ion-item.durationMinSec {
      width: fit-content;
      font-size: 1rem;
      --background: rgba(255, 255, 255, 0.664);
      border-radius: 10px !important;
      margin-left: 0.5rem;
      margin-right: 1rem;
    }
  }

  //Create workout button
  ion-button.createWorkout {
    margin-top: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2.3rem;
    --background: var(--ion-color-button-create);
    ion-text {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--ion-color-light);
    }
  }

  img.line {
    margin-left: 10%;
    width: 80%;
    margin-top: 1.3rem;
  }
}
