<ion-content [fullscreen]="true">
  <ion-card>
    <form [formGroup]="form">
      <div class="logo">
        <img [src]="'../assets/imgs//logo/light.png'" />
        <h3>Password reset</h3>
      </div>

      <ion-item lines="none" class="ion-margin-horizontal ion-margin-top">
        <ion-button slot="start" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
        </ion-button>
        <ion-input
          labelPlacement="floating"
          type="email"
          formControlName="email"
          placeholder="Enter email address"
          errorText="* Enter proper email address"
        >
          <div slot="label">Email <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>

      <div class="ion-margin submit" (click)="onSubmit()">
        <ion-button expand="block" size="large">
          <ion-text><strong>Send a request</strong></ion-text>
        </ion-button>
      </div>

      <div class="ion-text-right ion-margin-horizontal additional">
        <div class="login">
          <ion-text class="fwd" color="medium"
            >Remembered your password?</ion-text
          >
          <a [routerLink]="['/login']">Log in</a>
        </div>
        <div class="register">
          <ion-text class="fwd" color="medium">Don't have an account?</ion-text>
          <a [routerLink]="['/register']">Register</a>
        </div>
      </div>
    </form>
  </ion-card>
</ion-content>
