// * {
//   --background: url("/assets/imgs/background/add-workout.png") no-repeat center
//     center / cover;
//   box-sizing: border-box;
// }

// @media (min-width: 768px) {
//   * {
//     --background: url("/assets/imgs/background/add-workout-media.png") no-repeat
//       center center / cover;
//   }
// }

ion-header {
  box-shadow: none;
  position: sticky;
  height: fit-content;

  ion-toolbar {
    --background: transparent;
    ion-title {
      color: var(--ion-color-dark);
      margin-top: 1.3rem;
      margin-right: 0.3vh;
      font-size: 2.2rem;
      font-weight: 800;
    }
  }
}

ion-content {
  --background: transparent;
  div.swiper {
    margin-top: 1.6rem;
    swiper-container {
      swiper-slide {
        div.set {
          margin-bottom: 1rem;
          ion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            margin-left: 1.4rem;
            margin-bottom: 1rem;
            ion-chip {
              height: 2rem;
              margin-right: 5px;
              font-size: 1rem;
              background-color: rgba(255, 255, 255, 0.664);
              border-radius: 12px !important;
            }
          }
          box-shadow: none;
          --background: transparent;
        }
      }
    }
  }

  ion-list {
    background-color: transparent;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.7rem;
    ion-item.category {
      margin-left: 0.4rem;
      margin-bottom: 0.2rem;
      font-size: 1.2rem;
      --background: transparent !important; // Set background of ion-item to transparent
    }
    ion-item.select {
      --background: rgba(
        255,
        255,
        255,
        0.664
      ); // Semi-transparent white background for ion-select
      border-radius: 10px !important; // Rounded corners
      margin-left: 1rem;
      margin-right: 1rem;

      ion-select {
        --background: transparent !important;
      }
    }
  }
  ion-button.addSet {
    margin-left: 15%;
    margin-right: 15%;
    --background: rgba(89, 73, 170, 0.664);

    ion-text {
      text-transform: none;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  ion-button.createWorkout {
    margin-top: 2rem;
    margin-left: 12%;
    margin-right: 12%;
    --background: var(--ion-color-primary);
    ion-text {
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--ion-color-light);
    }
  }
  img.line {
    margin-left: 10%;
    width: 80%;
    margin-top: 1.3rem;
  }
}
