<ion-header mode="md">
  <ion-toolbar>
    <ion-title slot="start">
      Add an <br />
      Excercise
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-row>
      <ion-col size="5">
        <ion-item class="input">
          <ion-input formControlName="name" placeholder="Name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item class="select">
          <ion-select formControlName="bodyPart" placeholder="Body part">
            @for (bodyPart of exercisesService.bodyParts; track bodyPart.value)
            {
            <ion-select-option [value]="bodyPart.value">{{
              bodyPart.name
            }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item class="select">
          <ion-select formControlName="target" placeholder="Target">
            @for (target of exercisesService.targets; track target.value) {
            <ion-select-option [value]="target.value">{{
              target.name
            }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item class="select">
          <ion-select formControlName="equipment" placeholder="Equipment">
            @for (eq of exercisesService.equipment; track eq.value) {
            <ion-select-option [value]="eq.value">{{
              eq.name
            }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item class="searchButton" (click)="onSearch()">
          <ion-button>
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>

  @defer (when !isLoading) {
  <div class="exercisesDiv">
    <ion-list class="exercises">
      @for (exercise of exercises; track exercise.id) {
      <ion-item>
        <img [src]="exercise.gifUrl" alt="excerciseGif" />

        <ion-label class="ion-text-wrap">
          <h3>{{ exercise.name }}</h3>
          <p>{{ exercise.bodyPart }} | {{ exercise.target }}</p>
        </ion-label>

        <ion-checkbox slot="end" id="exerciseCheck"> </ion-checkbox>
      </ion-item>

      } @empty { @if(!isLoading){
      <ion-item lines="none">
        <ion-label class="ion-text-center"> No exercises found. </ion-label>
      </ion-item>
      } }
    </ion-list>
  </div>

  <ion-item>
    <ion-button (click)="loadMore()">Load more exercises</ion-button>
  </ion-item>
  <!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more movies"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  }@placeholder {
  <ion-list>
    @for (item of dummyArray; track item) {
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px"></ion-skeleton-text>
    </ion-item>
    }
  </ion-list>
  } @error {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />
  }

  <ion-list class="repsList" lines="none" mode="ios">
    <ion-item class="checkbox">
      <ion-checkbox id="repsCheck" labelPlacement="end" justify="start"
        >Reps:</ion-checkbox
      >
    </ion-item>
    <ion-item class="input">
      <ion-input id="repsInput" placeholder="0"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="durList" lines="none" mode="ios">
    <ion-item class="checkbox">
      <ion-checkbox
        size="medium"
        id="durationCheck"
        labelPlacement="end"
        justify="start"
        >Duration:</ion-checkbox
      >
    </ion-item>
    <ion-item class="input">
      <ion-input
        label="min"
        labelPlacement="floating"
        id="minInput"
      ></ion-input>
      <ion-input
        label="sec"
        labelPlacement="floating"
        id="secInput"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button class="addToSet" expand="block" shape="round" size="medium">
    <ion-text> <strong>Add to set</strong> </ion-text>
  </ion-button>
</ion-content>
