<ion-content [fullscreen]="true">
  <ion-grid class="head">
    <ion-row>
      <ion-col size="6" class="left">
        <div class="avatar-text-wrapper">
          <ion-avatar>
            <img class="profilePic" [src]="photoURL" />
          </ion-avatar>
          <ion-text>Hi, {{firstName}}</ion-text>
          <ion-text class="wave">👋</ion-text>
        </div>
        <div class="title">
          <ion-text>
            Find New <br />
            Workouts</ion-text
          >
        </div>
      </ion-col>
      <ion-col class="right">
        <img class="logo" [src]="'assets/imgs/logo/dark.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="srch">
    <ion-col size="10">
      <ion-searchbar
        class="srchBar"
        placeholder="Search for a workout"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button>
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  @if (popular.length > 0) {
  <ion-list lines="none">
    <ion-list-header>
      <ion-label> Popular Workouts </ion-label>
      <ion-button fill="clear" size="small" color="medium">
        <ion-text> Show all </ion-text>
      </ion-button>
    </ion-list-header>

    <div>
      <swiper-container
        [modules]="swiperModules"
        [slidesPerView]="1.4"
        [keyboard]="true"
        [centerSlides]="true"
      >
        @for (workout of popularWorkouts$ | async; track $index) {
        <swiper-slide>
          <div class="popular-workout-item">
            <app-explore-workout [workout]="workout"></app-explore-workout>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </ion-list>
  } @if (recent.length > 0) {
  <ion-list lines="none" class="ion-margin-bottom recentJobs">
    <ion-list-header class="ion-margin-bottom">
      <ion-label> Recent Workouts </ion-label>
      <ion-button fill="clear" size="small" color="medium">
        <ion-text> Show all </ion-text>
      </ion-button>
    </ion-list-header>

    @for (workout of recent; track workout.id) {
    <ion-item
      class="ion-margin-bottom"
      [routerLink]="['/', 'tabs', 'workout', workout.id]"
    >
      <ion-thumbnail slot="start">
        <!-- <img [src]="'assets/imgs/' + job?.logo_light" /> -->
      </ion-thumbnail>
      <ion-label class="recent">
        {{workout?.description}}
        <p>
          {{workout?.description}}
          <span class="dot"></span>
          {{workout?.description}}
        </p>
      </ion-label>
      <ion-text slot="end" color="dark"> Duration 35 min</ion-text>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
