<ion-content [fullscreen]="true">
  <ion-grid class="head">
    <ion-row>
      <ion-col size="6" class="left">
        <div class="avatar-text-wrapper">
          <ion-avatar>
            <img loading="lazy" class="profilePic" [src]="photoURL" />
          </ion-avatar>
          <ion-text>Hi, {{firstName}}</ion-text>
          <ion-text class="wave">👋</ion-text>
        </div>
        <div class="title">
          <ion-text>
            Find New <br />
            Workouts</ion-text
          >
        </div>
      </ion-col>
      <ion-col class="right">
        <img class="logoBack" [src]="'assets/imgs/logo/back.png'" />
        <img class="logo" [src]="'assets/imgs/logo/dark.png'" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label> Popular Workouts </ion-label>
      <ion-button
        fill="clear"
        size="small"
        color="medium"
        (click)="goToSearchPage()"
        mode="md"
      >
        <ion-text> Show all </ion-text>
      </ion-button>
    </ion-list-header>

    <div>
      <swiper-container
        [modules]="swiperModules"
        [slidesPerView]="1.2"
        [keyboard]="true"
        [centerSlides]="true"
      >
        @for (workout of popularWorkouts$ | async; track $index) {
        <swiper-slide>
          <div class="popular-workout-item">
            <app-explore-workout
              [routerLink]="['/', 'tabs', 'explore','workout', workout.id]"
              [workout]="workout"
            ></app-explore-workout>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </ion-list>
  <ion-list lines="none" class="ion-margin-bottom recent-workouts">
    <ion-list-header>
      <ion-label> Recent Workouts </ion-label>
      <ion-button
        fill="clear"
        size="small"
        color="medium"
        (click)="goToSearchPage()"
        mode="md"
      >
        <ion-text> Show all </ion-text>
      </ion-button>
    </ion-list-header>
    @for (workout of recentWorkouts$ | async; track $index) {
    <ion-item class="recent-workout" lines="none">
      <app-workout
        [routerLink]="['/', 'tabs', 'explore','workout', workout.id]"
        [myWorkout]="false"
        [workout]="workout"
      ></app-workout>
    </ion-item>
    }@empty {
    <ion-item lines="none" class="not-found">
      <ion-label class="ion-text-center"> No workouts found. </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
