ion-content {
  // --background: url("/assets/imgs/background/explore.png") no-repeat center
  //   center / cover;
  --background: var(--ion-color-light);
}

@media (min-width: 768px) {
  ion-content {
    --background: url("/assets/imgs/background/explore-media.png") no-repeat
      center center / cover;
  }
}

.head {
  width: 100%;
  ion-grid {
    padding: 0;
  }

  ion-row,
  ion-col {
    padding: 0;
    margin: 0;
  }
}

.left {
  .avatar-text-wrapper {
    display: flex;
    align-items: center;

    ion-avatar {
      margin-top: 2vh;
      margin-left: 1vh;
      margin-right: 1vh;
      height: 5.5vh;
      width: auto;
    }

    ion-text {
      font-size: large;
      margin-top: 3vh;
    }
    ion-text.wave {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
  }
  div.title {
    margin-top: 1rem;
    padding-left: 1.5vh;
    ion-text {
      font-size: 1.8rem;
      font-weight: 800;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  img.logoBack {
    position: absolute;
    top: -30px;
    right: -37px;
    z-index: -1; /* Put it behind other elements */
    transform: scale(1.8);
  }
  img.logo {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1;
    max-width: 100%;
    margin-top: 2rem;
    margin-right: 0.4rem;
    width: 90%;
  }
}

div.popular-workout-item {
  padding-left: 8px;
  padding-right: 2px;
  padding-top: 6px;
  background: var(--ion-color-primary);
  color: #fff;
  margin-left: 1.2rem;
  margin-right: 1.4rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
}

ion-list {
  z-index: 2;
  background: transparent;
  ion-list-header {
    padding-right: 1vh;
    ion-label {
      font-size: 1.1rem;
    }
    ion-button {
      ion-text {
        font-size: 0.7rem;
      }
    }
  }
}

ion-list.recent-workouts {
  ion-item.recent-workout {
    --background: rgba(167, 166, 241, 0.25);
    margin-left: 1.2rem;
    margin-right: 1.4rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
  }
}

span.dot {
  margin: 0 2px 2px 2px;
  height: 3px;
  width: 3px;
  background-color: dimgray;
  border-radius: 50%;
  display: inline-block;
}
