<!-- Choosing a set to show -->
<div class="segments">
  <ion-segment
    class="sets"
    [value]="current_set"
    (ionChange)="changeSegment($event)"
    mode="ios"
  >
    @for (set of workout.setData; track $index) {
    <ion-segment-button [value]="$index + 1">
      <ion-label>{{ $index + 1 | ordinal }}</ion-label>
    </ion-segment-button>
    }
  </ion-segment>
</div>

<!-- Showing a set -->

<div class="titleRepeting">
  <ion-title mode="md">{{ current_set | ordinal }} set</ion-title>
  <ion-text>repeting x{{ workout.setData[current_set - 1].repeting }}</ion-text>
</div>

@for (exerciseData of workout.setData[current_set-1].exercisesData; track
$index) {

<div class="one-row">
  @if(exerciseData.break!=true){
  <div class="exercise">
    <!-- Header -->
    <div class="headerPart">
      <div class="showMoreAndName">
        <!-- ARROW -->
        <ion-chip
          class="arrow"
          (click)="toggleHiddenExercise(current_set - 1, $index)"
        >
          @if(isHidden(current_set-1,$index)){
          <ion-icon name="chevron-down-outline"></ion-icon>
          } @else{
          <ion-icon name="chevron-up-outline"></ion-icon>
          }
        </ion-chip>
        <!-- Exercise TITLE -->
        <div class="exerciseName">
          <ion-title mode="md"
            ><div class="ion-text-wrap">
              {{ exerciseData.exercise?.name }}
            </div></ion-title
          >
        </div>
      </div>
      <div class="durationReps">
        @if(exerciseData.duration!=null){
        {{ getDurationString(exerciseData.duration) }}
        } @else {
        {{ exerciseData.reps }} reps }
      </div>
    </div>

    <!-- Gif -->
    @if(!isHidden(current_set-1,$index)){
    <div class="gif">
      <img [src]="gifBaseUrl + exerciseData.exercise?.id + '/exercise.gif'" />
    </div>
    }
  </div>
  } @else {
  <div class="break">
    <div>
      <ion-title mode="md" class="break">Break</ion-title>
    </div>
    <div class="durationReps">
      {{ getDurationString(exerciseData.duration) }}
    </div>
  </div>
  }
</div>

}
